.features_items
  / features_items
  %h2.title.text-center
    = header_text
  - items.each do |item|
    .col-sm-3
      = render partial: 'stored_items/item', locals: {item: item}
= paginate items
