.breadcrumbs
  .container
    .row
      %ul
        %li.home
          %a{:href => "index.html", :title => "Go to Home Page"} Home
          %span &raquo;
        %li
          %a{:href => "grid.html", :title => "Go to Home Page"} Women
          %span &raquo;
        %li.category13
          %strong Tops &amp; Tees