%footer
  .container
    .inner
      .brand-logo
        .slider-items-products
          #brand-logo-slider.product-flexslider.hidden-buttons
            .slider-items.slider-width-col6
              / Item
              .item
                %a{:href => "#x"}
                  %img{:alt => "Image", :src => "images/b-logo1.png"}/
              / End Item
              / Item
              .item
                %a{:href => "#x"}
                  %img{:alt => "Image", :src => "images/b-logo2.png"}/
              / End Item
              / Item
              .item
                %a{:href => "#x"}
                  %img{:alt => "Image", :src => "images/b-logo3.png"}/
              / End Item
              / Item
              .item
                %a{:href => "#x"}
                  %img{:alt => "Image", :src => "images/b-logo4.png"}/
              / End Item
              / Item
              .item
                %a{:href => "#x"}
                  %img{:alt => "Image", :src => "images/b-logo5.png"}/
              / End Item
              / Item
              .item
                %a{:href => "#x"}
                  %img{:alt => "Image", :src => "images/b-logo6.png"}/
              / End Item
              / Item
              .item
                %a{:href => "#x"}
                  %img{:alt => "Image", :src => "images/b-logo1.png"}/
              / End Item
              / Item
              .item
                %a{:href => "#x"}
                  %img{:alt => "Image", :src => "images/b-logo4.png"}/
      / End Item
      .footer-middle
        .col-md-3.col-sm-12.col-xs-12
          .footer-column-1
            .footer-logo
              %a{:href => "index.html", :title => "Logo"}
                %img{:alt => "logo", :src => "images/footer-logo.png"}/
            %p Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            .social
              %ul.link
                %li.fb
                  %a{:href => "#"}
                %li.tw
                  %a{:href => "#"}
                %li.googleplus
                  %a{:href => "#"}
                %li.rss
                  %a{:href => "#"}
                / <li class="pintrest"><a href="#"></a></li>
                %li.linkedin
                  %a{:href => "#"}
                %li.youtube
                  %a{:href => "#"}
        .col-md-2.col-sm-6.col-xs-12
          %h4.green Shopping Guide
          %ul.links
            %li.first
              %a{:href => "about_us.html", :title => "How to buy"} About us
            %li
              %a{:href => "faq.html", :title => "FAQs"} FAQs
            %li
              %a{:href => "#", :title => "Payment"} Payment
            %li
              %a{:href => "#", :title => "Shipment&lt;/a&gt;"} Shipment
            %li
              %a{:href => "#", :title => "Where is my order?"} Where is my order?
            %li.last
              %a{:href => "#", :title => "Return policy"} Return policy
        .col-md-2.col-sm-6.col-xs-12
          %h4.yellow Style Advisor
          %ul.links
            %li.first
              %a{:href => "login.html", :title => "Your Account"} Your Account
            %li
              %a{:href => "#", :title => "Information"} Information
            %li
              %a{:href => "#", :title => "Addresses"} Addresses
            %li
              %a{:href => "#", :title => "Addresses"} Discount
            %li
              %a{:href => "#", :title => "Orders History"} Orders History
            %li.last
              %a{:href => "#", :title => " Additional Information"} Additional Information
        .col-md-2.col-sm-6.col-xs-12
          %h4.orange Information
          %ul.links
            %li.first
              %a{:href => "sitemap.html", :title => "Site Map"} Site Map
            %li
              %a{:href => "#/", :title => "Search Terms"} Search Terms
            %li
              %a{:href => "#", :title => "Advanced Search"} Advanced Search
            %li
              %a{:href => "contact_us.html", :title => "Contact Us"} Contact Us
            %li
              %a{:href => "#", :title => "Suppliers"} Suppliers
            %li.last
              %a.link-rss{:href => "#", :title => "Our stores"} Our stores
        .col-md-3.col-sm-6.col-xs-12
          %h4.blue Contact Us
          .contacts-info
            %address
              %i.add-icon> &nbsp;
              123 Main Street, Anytown,
              %br
                \&nbsp;CA 12345  USA
            .phone-footer
              %i.phone-icon &nbsp;
              +1 800 123 1234
            .email-footer
              %i.email-icon &nbsp;
              %a{:href => "mailto:support@magikcommerce.com"} support@magikcommerce.com
        .footer-bottom
          .col-sm-3.col-xs-12.coppyright &copy; 2015 Magikcommerce. All Rights Reserved.
          .col-sm-9.col-xs-12.company-links
            %ul.links
              %li
                %a{:href => "#", :title => "Magento Themes"} Magento Themes
              %li
                %a{:href => "#", :title => "Premium Themes"} Premium Themes
              %li
                %a{:href => "#", :title => "Responsive Themes"} Responsive Themes
              %li.last
                %a{:href => "#", :title => "Magento Extensions"} Magento Extensions