#my-modal.modal.fade{:role => 'dialog'}
%footer
  .container
    .inner
      .footer-middle
        .col-md-4.col-sm-12.col-xs-12
          .footer-column-1
            .footer-logo
              %a{:href => "index.html", :title => "Logo"}
                = image_tag('logos/madej.png', width: "85px")
            %p Madej sp. z.o.o. z siedzibą w Warszawie, ul. Domaniewska 37B, 02-672 Warszawa; Sąd rejonowy dla m. st. Warszawy w Warszawie, XIII Wydział Gospodarczy; KRS 00001724444, NIP 521-10-20-539 , Kapitał zakładowy 5 524 000 PLN Copyright © 2011 Madej : Wszystkie prawa zastrzeżone
            .social
              %ul.link
                %li.fb
                  %a{:href => "#"}
                %li.tw
                  %a{:href => "#"}
                %li.googleplus
                  %a{:href => "#"}
                %li.rss
                  %a{:href => "#"}
                / <li class="pintrest"><a href="#"></a></li>
                %li.linkedin
                  %a{:href => "#"}
                %li.youtube
                  %a{:href => "#"}
        .col-md-4.col-sm-6.col-xs-12
          %h4.green Dział Handlowy
          %ul.links
            %li.first
              %a{}
                Małgorzata Urbańska (+48 600 800 312)
                %br
                malgorzata@madej.com.pl
            %li
              %a{}
                Sylwia Kosowska (+48 600 800 309)
                %br
                sylwia@madej.com.pl
            %li
              %a{}
                Ewa Zaręba (+48 600 800 311)
                %br
                ewa@madej.com.pl
            %li.last
              %a{}
                Robert Gutowski (+48 669 141 555)
                %br
                robert@madej.com.pl
        .col-md-3.col-sm-6.col-xs-12
          %h4.blue Kontakt
          .contacts-info
            %address
              %i.add-icon> &nbsp;
              ul. Puławska 48,
              %br
                05-500 Piaseczno
            .phone-footer
              %i.phone-icon &nbsp;
              + 48 22 702 60 00
            .email-footer
              %i.email-icon &nbsp;
              %a{:href => "mailto:biuro@madej.com.pl"} biuro@madej.com.pl
        .footer-bottom
          .col-sm-3.col-xs-12.coppyright &copy; 2016 codeeliz.com. All Rights Reserved.
          .col-sm-9.col-xs-12.company-links