%head
  %meta{:charset => "utf-8"}
    /[if IE]
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %meta{:content => "", :name => "description"}
  %meta{:content => "", :name => "author"}
  %title Madej - Oferta
  / Mobile Specific
  %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
  / CSS Style
  = stylesheet_link_tag 'amaze/frontend'
  = javascript_include_tag 'amaze_frontend'
  = csrf_meta_tags

  / Google Fonts
  %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600", :rel => "stylesheet", :type => "text/css"}