%aside.col-left.sidebar.col-sm-3.col-xs-12.col-sm-pull-9.wow.bounceInUp.animated
  .side-nav-categories
    .block-title Kategorie
    .box-content.box-category
      %ul#magicat
        - @menu.magazine_categories.each do |category|
          - if category[:subcategories].empty?
            = render 'layouts/frontend/menu/node', category: category
          - else
            = render 'layouts/frontend/menu/collapsed_node', category: category
  .block.block-layered-nav
    .block-title Shop By
    .block-content
      %p.block-subtitle Shopping Options
      %dl#narrow-by-list
        %dt.odd Price
        %dd.odd
          %ol
            %li
              %a{:href => "#"}
                %span.price $0.00
                \-
                %span.price $99.99
              (6)
            %li
              %a{:href => "#"}
                %span.price $100.00
                and above
              (6)
        %dt.even Manufacturer
        %dd.even
          %ol
            %li
              %a{:href => "#"} TheBrand
              (9)
            %li
              %a{:href => "#"} Company
              (4)
            %li
              %a{:href => "#"} LogoFashion
              (1)
        %dt.odd Color
        %dd.odd
          %ol
            %li
              %a{:href => "#"} Green
              (1)
            %li
              %a{:href => "#"} White
              (5)
            %li
              %a{:href => "#"} Black
              (5)
            %li
              %a{:href => "#"} Gray
              (4)
            %li
              %a{:href => "#"} Dark Gray
              (3)
            %li
              %a{:href => "#"} Blue
              (1)
        %dt.last.even Size
        %dd.last.even
          %ol
            %li
              %a{:href => "#"} S
              (6)
            %li
              %a{:href => "#"} M
              (6)
            %li
              %a{:href => "#"} L
              (4)
            %li
              %a{:href => "#"} XL
              (4)
  .block.block-cart
    .block-title My Cart
    .block-content
      .summary
        %p.amount
          There are
          %a{:href => "#"} 2 items
          in your cart.
        %p.subtotal
          %span.label Cart Subtotal:
          %span.price $27.99
      .ajax-checkout
        %button.button.button-checkout{:title => "Submit", :type => "submit"}
          %span Checkout
      %p.block-subtitle Recently added item(s)
      %ul
        %li.item
          %a.product-image{:href => "product_detail.html", :title => "Fisher-Price Bubble Mower"}
            %img{:alt => "product-image", :src => "products-images/product1.jpg", :width => "80"}/
          .product-details
            .access
              %a.btn-remove1{:href => "#", :title => "Remove This Item"}
                %span.icon
                Remove
            %p.product-name
              %a{:href => "product_detail.html"} Sample Product
            %strong 1
            x
            %span.price $19.99
        %li.item.last
          %a.product-image{:href => "product_detail.html", :title => "Prince Lionheart Jumbo Toy Hammock"}
            %img{:alt => "product-image", :src => "products-images/product1.jpg", :width => "80"}/
          .product-details
            .access
              %a.btn-remove1{:href => "#", :title => "Remove This Item"}
                %span.icon
                Remove
            %p.product-name
              %a{:href => "product_detail.html"} Sample Product
            %strong 1
            x
            %span.price $8.00
  / access clearfix
  .block.block-subscribe
    .block-title Newsletter
    %form#newsletter-validate-detail{:action => "http://www.magikcommerce.com//newsletter/subscriber/new/", :method => "post"}
      .block-content
        .form-subscribe-header Sign up for our newsletter:
        %input#newsletter.input-text.required-entry.validate-email{:name => "email", :placeholder => "Enter your email address", :title => "", :type => "text"}
          .actions
            %button.button.button-subscribe{:title => "Submit", :type => "submit"}
              %span Subscribe
  .block.block-compare
    .block-title Compare Products (2)
    .block-content
      %ol#compare-items
        %li.item.odd
          %input.compare-item-id{:type => "hidden", :value => "2173"}
            %a.btn-remove1{:href => "#", :title => "Remove This Item"}
            %a.product-name{:href => "#"} Sofa with Box-Edge Polyester Wrapped Cushions
        %li.item.last.even
          %input.compare-item-id{:type => "hidden", :value => "2174"}
            %a.btn-remove1{:href => "#", :title => "Remove This Item"}
            %a.product-name{:href => "#"} Sofa with Box-Edge Down-Blend Wrapped Cushions
      .ajax-checkout
        %button.button.button-compare{:title => "Submit", :type => "submit"}
          %span Compare
        %button.button.button-clear{:title => "Submit", :type => "submit"}
          %span Clear
  .block.block-list.block-viewed
    .block-title Recently Viewed
    .block-content
      %ol#recently-viewed-items
        %li.item.odd
          %p.product-name
            %a{:href => "#"} Armchair with Box-Edge Upholstered Arm
        %li.item.even
          %p.product-name
            %a{:href => "#"} Pearce Upholstered Slee pere
        %li.item.last.odd
          %p.product-name
            %a{:href => "#"} Sofa with Box-Edge Down-Blend Wrapped Cushions
  .block.block-poll
    .block-title Community Poll
    %form#pollForm{:action => "#", :method => "post", :onSubmit => "return validatePollAnswerIsSelected();"}
      .block-content
        %p.block-subtitle What is your favorite Magento feature?
        %ul#poll-answers
          %li.odd
            %input#vote_5.radio.poll_vote{:name => "vote", :type => "radio", :value => "5"}
              %span.label
                %label{:for => "vote_5"} Layered Navigation
          %li.even
            %input#vote_6.radio.poll_vote{:name => "vote", :type => "radio", :value => "6"}
              %span.label
                %label{:for => "vote_6"} Price Rules
          %li.odd
            %input#vote_7.radio.poll_vote{:name => "vote", :type => "radio", :value => "7"}
              %span.label
                %label{:for => "vote_7"} Category Management
          %li.last.even
            %input#vote_8.radio.poll_vote{:name => "vote", :type => "radio", :value => "8"}
              %span.label
                %label{:for => "vote_8"} Compare Products
        .actions
          %button.button.button-vote{:title => "Vote", :type => "submit"}
            %span Vote
  .block.block-tags
    .block-title Popular Tags
    .block-content
      %ul.tags-list
        %li
          %a{:href => "#tagId/23/", :style => "font-size:98.3333333333%;"} Camera
        %li
          %a{:href => "#tagId/109/", :style => "font-size:86.6666666667%;"} Hohoho
        %li
          %a{:href => "#tagId/27/", :style => "font-size:145%;"} SEXY
        %li
          %a{:href => "#tagId/61/", :style => "font-size:75%;"} Tag
        %li
          %a{:href => "#tagId/29/", :style => "font-size:110%;"} Test
        %li
          %a{:href => "#tagId/17/", :style => "font-size:86.6666666667%;"} bones
        %li
          %a{:href => "#tagId/12/", :style => "font-size:110%;"} cool
        %li
          %a{:href => "#tagId/184/", :style => "font-size:86.6666666667%;"} cool t-shirt
        %li
          %a{:href => "#tagId/173/", :style => "font-size:86.6666666667%;"} crap
        %li
          %a{:href => "#tagId/41/", :style => "font-size:86.6666666667%;"} good
        %li
          %a{:href => "#tagId/16/", :style => "font-size:86.6666666667%;"} green
        %li
          %a{:href => "#tagId/5/", :style => "font-size:86.6666666667%;"} hip
        %li
          %a{:href => "#tagId/51/", :style => "font-size:75%;"} laptop
        %li
          %a{:href => "#tagId/20/", :style => "font-size:75%;"} mobile
        %li
          %a{:href => "#tagId/70/", :style => "font-size:75%;"} nice
        %li
          %a{:href => "#tagId/42/", :style => "font-size:86.6666666667%;"} phone
        %li
          %a{:href => "#tagId/30/", :style => "font-size:98.3333333333%;"} red
        %li
          %a{:href => "#tagId/28/", :style => "font-size:86.6666666667%;"} tight
        %li
          %a{:href => "#tagId/2/", :style => "font-size:75%;"} trendy
        %li
          %a{:href => "#tagId/4/", :style => "font-size:86.6666666667%;"} young
      .actions
        %a.view-all{:href => "#"} View All Tags
  .block.block-banner
    %a{:href => "#"}
      %img{:alt => "block-banner", :src => "images/block-banner.png"}/