%nav
  .container
    .nav-inner
      %ul#nav.hidden-xs
        %li#nav-home.level0.parent.drop-menu.active
          = link_to root_path do
            %span Home
        %li.level0.nav-8.level-top
          %a.level-top{:href => items_main_path}
            %span Kategorie
        %li.level0.nav-8.level-top
          %a.level-top{:href => items_main_path(sort: 'created_at', sort_type: 'DESC')}
            %span Nowości
        - unless @offer.nil?
          %li.level0.nav-8.level-top
            %a.level-top{:href => offer_main_path(offer_id: @offer.id)}
              %span
                = @offer.name
              %span.category-label Nowość
        %li.nav-custom-link.level0.level-top.parent
          %a.level-top{:href => ''}
            %span Kolekcje
          .level0-wrapper{:style => "display: none; left: 0px;"}
            .header-nav-dropdown-wrapper.clearer
              .grid12-5
                %h4.heading HTML5 + CSS3
                .ccs3-html5-box
                  %em.icon-html5 &nbsp;
                  %em.icon-css3 &nbsp;
                %p Our designed to deliver almost everything you want to do online without requiring additional plugins.CSS3 has been split into "modules".
              .grid12-5
                %h4.heading Responsive Design
                %a{:href => "#//"}
                  .icon-custom-reponsive
                %p Responsive design is a Web design to provide an optimal navigation with a minimum of resizing, and scrolling across a wide range of devices.
              .grid12-5
                %h4.heading Google Fonts
                %a{:href => "#//"}
                  .icon-custom-google-font
                %p Our font delivery service is built upon a reliable, global network of servers. Our flexible solution provides multiple implementation options.
              .grid12-5
                %h4.heading Smart Product Grid
                %a{:href => "#//"}
                  .icon-custom-grid
                %p Smart Product Grid is uses maximum available width of the screen to display content. It can be displayed on any screen or any devices.
              %br
        %li.level0.nav-8.level-top
          %a.level-top{:href => new_order_path}
            %span Koszyk
        %li.level0.nav-8.level-top
          %a.level-top{:href => "grid.html"}
            %span Moje zamowienia
      #form-search.search-bar
        %form#search_mini_form{:action => "#", :method => "get"}
          %input#search.search-bar-input{:name => "search", :placeholder => "Search entire store here...", :type => "text", :value => ""}
            %input.search-bar-submit{:type => "submit", :value => ""}
              %span.search-icon
                = image_tag('amaze/search-icon.png')