.sidebar-menu
  %header.logo-env
    / logo
    .logo
      %a{:href => "index.html"}
        = image_tag "neon/images/logo@2x.png", :width => "120"
    / logo collapse icon
    .sidebar-collapse
      %a.sidebar-collapse-icon.with-animation{:href => "#"}
        / add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition
        %i.entypo-menu
    / open/close menu icon (do not remove if you want to enable menu on mobile devices)
    .sidebar-mobile-menu.visible-xs
      %a.with-animation{:href => "#"}
        / add class "with-animation" to support animation
        %i.entypo-menu
  .sidebar-user-info
    .sui-normal
      %a.user-link{:href => "#"}
        = image_tag "neon/images/thumb-1.png"
        %span Welcome,
        %strong Art Ramadani
    .sui-hover.inline-links.animate-in
      / You can remove "inline-links" class to make links appear vertically, class "animate-in" will make A elements animateable when click on user profile
      %a{:href => "#"}
        %i.entypo-pencil
        New Page
      %a{:href => "mailbox.html"}
        %i.entypo-mail
        Inbox
      %a{:href => "extra-lockscreen.html"}
        %i.entypo-lock
        Log Off
      %span.close-sui-popup &times;
  / this is mandatory
  %ul#main-menu
    / add class "multiple-expanded" to allow multiple submenus to open
    / class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active"
    / Search Bar
    %li#search
      %form{:action => "", :method => "get"}
        %input.search-input{:name => "q", :placeholder => "Search something...", :type => "text"}/
        %button{:type => "submit"}
          %i.entypo-search
    %li
      %a{:href => ""}
        %i.entypo-gauge
        %span Dashboard
    %li
      %a{:href => ""}
        %i.entypo-list
        %span Kategorie Towarów
      %ul
        %li
          %a{:href => new_admin_category_path}
            %i.entypo-plus
            %span Dodaj Nową
        %li
          %a{:href => admin_categories_path}
            %i.entypo-flow-tree
            %span Drzewo Kategorii
    %li
      %a{:href => ""}
        %i.entypo-layout
        %span Towary
      %ul
        %li
          %a{:href => admin_items_actualization_path}
            %i.entypo-upload
            %span Aktualizacja Stanów
