%li.level0-.level0.open
  %span.magicat-cat
    %a{}
      %span
        = node.name
  %ul{:style => "display: none;"}
    - node.sub_nodes.each do |sub_node|
      %li.first.level1-.level1
        %span.magicat-cat
          %a{:href => sub_node.link}
            %span
              = sub_node.name