%li.level0-.level0.open
  %span.magicat-cat
    %a{}
      %span
        = category_items_name(category[:category], type)
  %ul{:style => "display: none;"}
    - category[:subcategories].each do |sub_cat|
      %li.first.level1-.level1
        %span.magicat-cat
          %a{:href => menu_item_url(sub_cat, type, offer)}
            %span
              = category_items_name(sub_cat, type)