.panel-heading
  %h4.panel-title
    %a{"data-parent" => "#accordian", "data-toggle" => "collapse", :href => "#"+collapsed_id(type,category[:category])}
      %span.badge.pull-right
        %i.fa.fa-plus
      = collapsed_category_name(type, category[:category])
  .panel-collapse.collapse{:id => collapsed_id(type,category[:category])}
    .panel-body
      %ul
        - category[:subcategories].each do |sub_cat|
          %li
            = category_items_link(sub_cat, type, @menu.offer)