- @categories.each do |category|
  .panel.panel-default
    - if category.subcategories.empty?
      = render 'layouts/frontend/menu/node', category: category
    - else
      = render 'layouts/frontend/menu/collapsed_node', category: category


