.offer-banner-section
  .container
    .row
      .newsletter-wrap
        .newsletter
          %form#newsletter-validate-detail{:action => "#", :method => "post"}
            %div
              %h4
                %span Amaze newsletter
              %input#newsletter1.input-text.required-entry.validate-email{:name => "email", :placeholder => "Enter your email address", :title => "Sign up for our newsletter", :type => "text"}
                %button.subscribe{:title => "Subscribe", :type => "submit"}
                  %span Subscribe
      .col-lg-3.col-sm-3.col-xs-12
        .col
          = image_tag('amaze/offer-banner1.png')
      .col-lg-3.col-sm-3.col-xs-12
        .col
          = image_tag('amaze/offer-banner1.png')
      .col-lg-3.col-sm-3.col-xs-12
        .col
          = image_tag('amaze/offer-banner1.png')
      .col-lg-3.col-sm-3.col-xs-12.last
        .col
          = image_tag('amaze/offer-banner1.png')
