%section.main-container.col1-layout.home-content-container
  .container
    .std
      .best-seller-pro.wow.bounceInUp.animated
        .slider-items-products
          .new_title.center
            %h2 Nowości
          #best-seller-slider.product-flexslider.hidden-buttons
            .slider-items.slider-width-col4
              - @last_added.each do |item|
                .item
                  = render :partial => 'stored_items/item', locals: {item: item, type: 'New'}
      .best-seller-pro.wow.bounceInUp.animated
        .slider-items-products
          .new_title.center
            %h2 Wybrane dla Ciebie
          #best-seller-slider.product-flexslider.hidden-buttons
            .slider-items.slider-width-col4
              - @recommend.each do |item|
                .item
                  = render :partial => 'stored_items/item', locals: {item: item}
      .best-seller-pro.wow.bounceInUp.animated
        .slider-items-products
          .new_title.center
            %h2 Najcześciej Zamawiane
          #best-seller-slider.product-flexslider.hidden-buttons
            .slider-items.slider-width-col4
              - @bestsellers.each do |item|
                .item
                  = render :partial => 'stored_items/item', locals: {item: item}
