.service-section
  .container
    .row
      #store-messages
        .col-md-4.col-xs-12.col-sm-4
          %i.icon-refresh &nbsp;
          .message
            %span>
              %strong Return &amp; Exchange
              in 3 working days
            Lorem ipsum dolor sit amet, consectetur adipiscing.
        .col-md-4.col-xs-12.col-sm-4
          %i.icon-truck &nbsp;
          .message
            %span>
              %strong Free Shipping
              order over $99
            Lorem ipsum dolor sit amet, consectetur adipiscing.
        .col-md-4.col-xs-12.col-sm-4
          %i.icon-discount &nbsp;
          .message
            %span>
              %strong 50% Off
              on all products
            Lorem ipsum dolor sit amet, consectetur adipiscing.