.service-section
  .container
    .row
      #store-messages
        .col-md-4.col-xs-12.col-sm-4
          %i.fa.fa-thumbs-up.fa-3x
          .message
            %span>
              %strong Najwyższa jakość.
              Nasze towary spełniają wszystkie wymagane normy oraz posiadają atesty.
        .col-md-4.col-xs-12.col-sm-4
          %i.fa.fa-truck.fa-3x
          .message
            %span>
              %strong Szybka dostawa.
              Wysyłka towarów nawet w tym samym dniu co zamówienie.
        .col-md-4.col-xs-12.col-sm-4
          %i.fa.fa-money.fa-3x
          .message
            %span>
              %strong Najniższe Ceny.
              Konkurencyjne ceny oraz wysokie rabaty dla stałych klientów.
