%script{:src => "js/jquery.js"}
%script{:src => "js/bootstrap.min.js"}
%script{:src => "js/jquery.scrollUp.min.js"}
%script{:src => "js/price-range.js"}
%script{:src => "js/jquery.prettyPhoto.js"}
%script{:src => "js/main.js"}