%head
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %meta{:content => "", :name => "description"}/
  %meta{:content => "", :name => "author"}/
  %title Home | E-Shopper

  = stylesheet_link_tag 'frontend'
  = javascript_include_tag 'frontend'
  = csrf_meta_tags
