.left-sidebar
  %h2 Kategorie
  = render :partial => 'layouts/frontend/menu/menu'
  .brands_products
    / brands_products
    %h2 Kolekcje
    .brands-name
      %ul.nav.nav-pills.nav-stacked
        %li
          %a{:href => "#"}
            %span.pull-right> (50)
            Jet 5
        %li
          %a{:href => "#"}
            %span.pull-right> (56)
            Baby Trike
        %li
          %a{:href => "#"}
            %span.pull-right> (27)
            Baby Love
        %li
          %a{:href => "#"}
            %span.pull-right> (32)
            Wood & Fun
        %li
          %a{:href => "#"}
            %span.pull-right> (5)
            Melissa & Doug
  / /brands_products
  .price-range
    / price-range
    %h2 Filtrowanie
    .well.text-center
      %input#sl2.span2{"data-slider-max" => "600", "data-slider-min" => "0", "data-slider-step" => "10", "data-slider-value" => "[0,600]", :type => "text", :value => ""}/
      %br/
      %b.pull-left 0 zł
      %b.pull-right 600 zł
  / /price-range
  -#.shipping.text-center
  -#  / shipping
  -#  %img{:alt => "", :src => "images/home/shipping.jpg"}/