= yield :slider

%section#main_content
  .container
    .row
      .col-sm-3
        = render :partial => 'layouts/frontend/left_sidebar'
      .col-sm-9.padding-right
        = yield
        #my-modal.modal.fade