%section#slider
  .container
    .row
      .col-sm-12
        #slider-carousel.carousel.slide{"data-ride" => "carousel"}
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#slider-carousel"}
            %li{"data-slide-to" => "1", "data-target" => "#slider-carousel"}
            %li{"data-slide-to" => "2", "data-target" => "#slider-carousel"}
          .carousel-inner
            .item.active
              .col-sm-6
                %h1
                  %span> Magiczne
                  \ Gumki
                %h2 Stwórz własną biżuterię.
                %p Twórz własną niepowtarzalną biżuterię.Zachwycisz swoją rodzinę i przyjaciół własnoręcznie wykonaną bransoletką.
                %button.btn.btn-default.get{:type => "button"} Więcej
              .col-sm-6
                %img{:alt => "", :src => "http://madej.com.pl/zamowienia2/templates/images/gumki.jpg",style: "padding-top:70px;"}/
                -#%img.pricing{:alt => "", :src => "images/home/pricing.png"}/
            .item
              .col-sm-6
                %h1
                  %span> Hit
                  \ Gwiazdka 2014
                %h2 Miś Horacy z tabletem
                %p Miś Horacy to interaktywna zabawka, która z pewnością stanie się przyjacielem każdego dziecka.Dzięki dołączonemu tabletowi miś Horacy towarzyszy dziecku podczas zabawy i nauki.
                %button.btn.btn-default.get{:type => "button"} Wiecej
              .col-sm-6
                %img{:alt => "", :src => "http://madej.com.pl/zamowienia2/templates/images/Horacy.jpg",style: "padding-top:70px;"}/
                -#%img.pricing{:alt => "", :src => "images/home/pricing.png"}/
          %a.left.control-carousel.hidden-xs{"data-slide" => "prev", :href => "#slider-carousel"}
            %i.fa.fa-angle-left
          %a.right.control-carousel.hidden-xs{"data-slide" => "next", :href => "#slider-carousel"}
            %i.fa.fa-angle-right