%h1 
  Kategorie produktów
  = link_to 'Dodaj Nową', new_category_path , class: "btn btn-blue"
%br
%br
.tree
  %ul
    - @categories.each do |category|
      = render 'categories/node', category: category
