.header-bottom
  / header-bottom
  .container
    .row
      .col-sm-9
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .mainmenu.pull-left
          = render 'layouts/frontend/header/login_info'
      .col-sm-3
        .search_box.pull-right
          = form_tag search_path, method: 'get' do
            = text_field_tag :search, nil, id: 'search_field', placeholder: 'Szukaj: Nazwa, Numer, EAN'
            %button.btn#search{type: 'submit'}
              %i.fa.fa-search
