%header#header
  / header
  = render :partial => 'layouts/frontend/header/top'
  / /header_top
  = render :partial => 'layouts/frontend/header/middle'
  / /header-middle
  = render :partial => 'layouts/frontend/header/bottom'