- if logged_in?
  .login-info
    %ul
      %li
        ="Zalogowany jako: #{@current_user.login}."
      %li
        Ilość towarów w
        = link_to 'koszyku:', new_order_path
        %span#login-info-cart-size.badge= cart_size
      %li
        Suma:
        %span#login-info-cart-sum.badge= cart_value
        zł.