// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title-orange {
  color: #FFB240;
}
.cart-product-title {
  color: #59BDFF;
  font-size: 20px;
}

.errors {
  color: red;
}

.add-cart-price {
  padding-left: 10px;
  margin-top: 20px;
}

.add-cart-price label {
  color: #696763;
  font-famil: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.add-cart-price .price {
  margin-left: 10px;
  color: #FFB240;
  font-size: 20px;
  font-weight: 900;
}

.add-cart-quantity-level {
  padding-left: 10px;
  margin-top: 10px;
}

.add-cart-quantity-level label {
  color: #696763;
  font-famil: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
}